.register_user h1 {
    color: #000000;
    margin-bottom: 50px;
    font-size: 40px;
}

.register_user .row {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
}

.register_user label {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.register_user input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 0 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    -webkit-box-shadow: 1px 1px 50px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow:    1px 1px 50px 0 rgba(255, 0, 0, 1);
    box-shadow:         1px 1px 50px 0 rgba(255, 0, 0, 1);
}

.register_user button {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
    user-select: none;
    padding: 13px 50px;
    border: 1px solid rgb(80, 32, 0);
    border-radius: 5px;
    background: rgb(147, 80, 36) linear-gradient(rgb(106, 58, 26), rgb(147, 80, 36) 80%);
    box-shadow: 0 6px rgb(86, 38, 6),
    0 3px 15px rgba(0, 0, 0, .4),
    inset 0 1px rgba(255, 255, 255, .3),
    inset 0 0 3px rgba(255, 255, 255, .5);
    transition: .2s;
}

.register_user button:hover {
    background: rgb(167, 91, 41) linear-gradient(rgb(126, 69, 31), rgb(167, 91, 41) 80%);
}

.register_user button:active {
    background: rgb(120, 63, 25) linear-gradient(rgb(120, 63, 25) 20%, rgb(167, 91, 41));
    box-shadow: 0 2px rgb(86, 38, 6),
    0 1px 6px rgba(0, 0, 0, .4),
    inset 0 1px rgba(255, 255, 255, .3),
    inset 0 0 3px rgba(255, 255, 255, .5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

