body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    min-width: 1000px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

select, button, label {
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    padding: 15px;
}

a {
    text-decoration: none;
}