.item_page h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.item_page h3 {
    font-size: 24px;
    margin-bottom: 40px;
}

.wrap_item {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: flex-start;
}

.wrap_item .info {
    flex-grow: 1;
    border: 1px solid #000;
    padding: 20px;
    margin-left: 50px;
}

.wrap_item img {
    display: block;
    width: 300px;
    height: auto;
}

.wrap_item .info span {
    display: block;
    margin-bottom: 30px;
}


.wrap_item .info .descr {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
}

.wrap_item .info .price {
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
}

.wrap_item .info .user {
    font-size: 20px;
    font-weight: bold;
}

.wrap_item .info .phone {
    font-size: 20px;
    font-weight: bold;
}

.wrap_item .info .phone a {
    color: blue;
}

.delete_item {
    padding: 10px 20px;
    font-size: 20px;
    background: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.delete_item:hover {
    background: #000;
}
