header {
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 1px solid #000;
}

header .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 100px;
    cursor: pointer;
}

.header__logo img {
    display: block;
    width: 100%;
    height: auto;
}

header ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

header ul li a,
header ul li span {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    color: #000000;
    transition: color .2s ease;
    padding: 3px 10px;
    margin: 0 20px;
    cursor: pointer;
}

header ul li a:hover,
header ul li span:hover {
    color: #ff0000;
}

header ul li a:hover::after,
header ul li a:hover::before,
header ul li span:hover::after,
header ul li span:hover::before {
    width: 100%;
    left: 0;
}

header ul li a::after,
header ul li a::before,
header ul li span::after,
header ul li span::before {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    width: 0;
    right: 0;
    height: 3px;
}

header ul li a::before,
header ul li span::before {
    transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    background: #2196f3;
}

header ul li a::after,
header ul li span::after {
    transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: #F44336;
}


.username_menu {
    font-size: 30px;
    margin-left: 50px;
}

.username_menu b {
    text-transform: capitalize;
    color: #ff0000;
}