.Sidebar {
    padding: 10px;
    border: 1px solid #000;
    width: 200px;
}

.Sidebar li {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

.Sidebar li:hover {
    text-decoration: underline;
}