.item {
    width: 32%;
    padding: 10px;
    border: 1px solid #000;
    margin: 10px 0;
    cursor: pointer;
}

.item .image {
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.item .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.item .price {
    font-weight: bold;
    font-size: 16px;
    color: #ff0000;
}

.item:hover {
    -webkit-box-shadow: 1px 0 20px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow:    1px 0 20px 0 rgba(255, 0, 0, 1);
    box-shadow:         1px 0 20px 0 rgba(255, 0, 0, 1);
}